<form  name="postForm">
    <fieldset>
        <input type="hidden" ng-model="selectedItem._id" />
        <p><label for="postTitle">Title:</label>
            <input id="postTitle" ng-model="selectedItem.title" required placeholder="Please give a title" /></p>
        <p><label for="postText">Text:</label>
            <textarea id="postText" ng-model="selectedItem.description" ng-minlength="20" ng-required="true" placeholder="Please input a text" > </textarea></p>
    </fieldset>
    <button type="submit" ng-click="articleListCtrl.postArticle(selectedItem,postForm)">Save</button>
</form>

